/* /Pages/Day14.razor.rz.scp.css */
.container[b-urlsgz44z5] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid[b-urlsgz44z5] {
    display: grid;
    grid-template-rows: repeat(103, calc(100vw / 101));
    grid-template-columns: repeat(101, calc(100vw / 101));
    background: royalblue;
    width: 100vw;
    height: 100%;
}

.inputs[b-urlsgz44z5] {
    padding: 0 1rem;
    flex-grow: 1;
    touch-action: manipulation;
}

.robot[b-urlsgz44z5] {
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
}

.buttons[b-urlsgz44z5] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.buttons button[b-urlsgz44z5] {
    padding: 0.75rem;
    width: 100%;
    background: green;
    outline: none;
    border: none;
    color: white;
    border-radius: 0.5rem;
}

.buttons button:disabled[b-urlsgz44z5] {
    opacity: 0.5;
}

button:not(:disabled)[b-urlsgz44z5] {
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .container[b-urlsgz44z5] {
        flex-direction: row;
    }

    .grid[b-urlsgz44z5] {
        grid-template-rows: repeat(103, 8px);
        grid-template-columns: repeat(101, 8px);
        width: fit-content;
    }
}
/* /Pages/Day15.razor.rz.scp.css */
.container[b-91xau5ipbv] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 1rem;
}

.history-grid[b-91xau5ipbv] {
    display: grid;
    grid-template-rows: 32px;
    grid-template-columns: repeat(9, 32px);
    justify-content: space-between;
}

.history-grid > *[b-91xau5ipbv] {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-weight: bold;
}

.grid[b-91xau5ipbv] {
    display: grid;
    grid-template-rows: repeat(10, 16px);
    grid-template-columns: repeat(20, 16px);
}

.grid > *[b-91xau5ipbv] {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.box[b-91xau5ipbv] {
    background-color: saddlebrown;
}

.wall[b-91xau5ipbv] {
    background-color: darkslategray;
}

.robot[b-91xau5ipbv] {
    background: gold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unknown[b-91xau5ipbv] {
    background-color: red;
}

.buttons[b-91xau5ipbv] {
    display: flex; 
    justify-content: space-between
}
/* /Pages/Home.razor.rz.scp.css */
