.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-rows: repeat(50, 8px);
    grid-template-columns: repeat(100, 8px);
    gap: 2px;
}

.grid > * {
    height: 100%;
    width: 100%;
}

.box {
    background-color: saddlebrown;
}

.wall {
    background-color: darkslategray;
}

.robot {
    background: gold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.unknown {
    background-color: red;
}
