.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(100vw, 808px);
    margin: auto;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-rows: repeat(103, calc(100vw / 101));
    grid-template-columns: repeat(101, calc(100vw / 101));
    background: royalblue;
    position: relative;
}

.seconds-tracker {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.7rem;
    font-weight: 600;
    border-bottom-left-radius: 3px;
    background-color: darkred;
    color: white;
    padding: 0.25rem 0.75rem;
    line-height: 1;
}

.inputs {
    padding: 0 1rem 1.25rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    touch-action: manipulation;
    width: 100%;
    justify-content: center;
}

.robot {
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
}

.time-controls {
    display: flex;
    gap: 1rem;
}

.inputs button {
    padding: 0.75rem;
    width: 100%;
    background: green;
    outline: none;
    border: none;
    color: white;
    border-radius: 0.5rem;
}

.inputs button:disabled {
    opacity: 0.5;
}

button:not(:disabled) {
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .grid {
        grid-template-rows: repeat(103, 8px);
        grid-template-columns: repeat(101, 8px);
    }
    
    .inputs {
        padding: 1rem 0;
    }
}