.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid {
    display: grid; 
    grid-template-rows: repeat(103, calc(100vw / 101)); 
    grid-template-columns: repeat(101, calc(100vw / 101)); 
    background: royalblue;
    width: 100vw;
    height: 100%;
}

.inputs {
    padding: 0 1rem;
    flex-grow: 1;
    touch-action: manipulation;
}

.robot {
    height: 100%; 
    width: 100%; 
    background-color: lightskyblue;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.buttons button {
    padding: 0.75rem;
    width: 100%;
    background: green;
    outline: none;
    border: none;
    color: white;
    border-radius: 0.5rem;
}

.buttons button:disabled {
    opacity: 0.5;
}

button:not(:disabled) {
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .container {
        flex-direction: row;
    }
    
    .grid {
        grid-template-rows: repeat(103, 8px);
        grid-template-columns: repeat(101, 8px);
        width: fit-content;
    }
}