@page "/"
@using static AoC.CSharp.Day14
@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>

<div style="display: flex; gap: 1rem;">
    <div class="grid">
        @foreach (var robot in Robots)
        {
            <div class="robot" style="grid-row-start: @robot.Position.Y; grid-column-start: @robot.Position.X"></div>
        }
    </div>
    <div>
        <p>
            <input type="number" @bind="Seconds" @bind:event="onchange" @bind:after="Update"/> seconds
        </p>
        <p>
            <input type="range" @bind="Seconds" @bind:event="onchange" @bind:after="Update" min="0" max="100000" />
        </p>
        <p>
            <button type="button" @onclick="Reset">Reset</button>
        </p>
    </div>
</div>

@code {
    private List<Robot> _robots = []; // original list

    private List<Robot> Robots { get; set; } = [];
    private int Seconds { get; set; } = 6888;
    
    private const int NumCols = 101;
    private const int NumRows = 103;
    
    protected override async Task OnInitializedAsync()
    {
        var file = await HttpClient.GetStringAsync("day14.txt");
        _robots = file.Split('\n').Select(Robot.Parse).ToList();

        Update();
    }

    private void Reset()
    {
        Seconds = 6888;
        Update();
    }

    private void Update() => Robots = _robots.Select(x =>
    {
        var robot = new Robot { Position = x.Position, Velocity = x.Velocity };
        robot.Move(Seconds, NumRows, NumCols);
        return robot;
    })
    .ToList();
   
}