@page "/"

<div>
    <ul>
        <li><a href="2024/day14">Day 14: Restroom Redoubt</a></li>
        <li><a href="2024/day15">Day 15: Warehouse Woes</a></li>
        <li><a href="2024/day16">Day 16: Reindeer Maze</a></li>
    </ul>
</div>